/* * {
    outline: 1px solid red !important;
 }
 
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
 }  */

body {
  font-family: 'Lato', sans-serif;
}

/* ------------- NAV ----------- */
.logo {
  font-size: 22px;
  font-family: 'Pacifico', cursive;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  /* opacity: .9; */
  background-color: 'blue';
}

.darkline {
  background-color: #363636;
  height: 5px;
  width: 100%;
}

.navbar-start, .navbar-end {
  /* text-transform: uppercase; */
  font-size: 15px;
  letter-spacing: 0.1rem;
  /* font-weight: bold; */
}

.notHome {
  margin-bottom: 30px;
}

/* HOME */
.control .cta {
  font-weight: bold;
}

.homeListings h1 {
  font-size: 20px;
  margin-top: 10px;
}

/* FOOTER */
.footer {
  background-color: rgba(139, 139, 139, 0.05);
  border-top: 1px solid rgba(0, 0, 0, .22);
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

/* REGISTER */
.label {
  font-weight: 700;
  font-size: 14px
}

.label .extra-text {
  font-weight: 100;
}

.terms-button {
  width: 40%;
}

.terms-text {
  margin-left: 3px;
}

/* LOGIN */
.login-logo {
  text-align: center;
  margin-bottom: 15px;
}

.login-subtitle {
  margin-bottom: 15px;
}

/* BROWSE; MAPS */
/* .map-container {
  width: 20%;
  height: 20%;
} */

.map-title {
  margin: 30px auto;
}

.map-title .title {
  font-weight: 100;
}

/* BROWSE; CARDS */
.image-container {
  position: relative;
}

.image-container:hover .description-overlay {
  opacity: 1;
}

/* .description-text {

} */

.description-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 10px 15px;
  transition: .4s ease;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  /* overflow: scroll; */
  /* text-overflow: ellipsis; */
}

section.content {
  margin-top: 75px;
}

section.content.form {
  margin-top: 0;
}

.thin {
  font-weight: 100 !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .mini-listing {
  /* margin: 0 auto; */
  margin: 0 1%;
  width: 23.5%;
  height: 275px;
  margin-bottom: 25px;
  text-align: left;
}

.wrapper .mini-listing figure {
  width: 100%;
  margin: 0;
}

.address, .price {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

h1.listing-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

hr.rule {
  border: 0;
  height: 1px;
  background-color: rgba(200, 200, 200, .5);
  margin: 4px 0;
}

/* CREATE */
input.cost {
  width: 90px;
}

.choose-categories {
  height: 85vh;
}

.categories {
  margin: 0 3%;
}

.general, .services, .jobs {
  transition: .15s ease-in-out background-color;
  margin: 0 1%;
  border-radius: 3.5%;
}

.general:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 0, 0.4);
}

.services:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.4);
}

.jobs:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.3);
}

/* PINS / LISTING */
.pin h2.subtitle {
  text-transform: uppercase;
  font-size: 17px;
}

.featuredImage {
  border: 1px solid rgba(0, 0, 0, .4)
}

.description-etc h1.title {
  margin: 0;
  padding-bottom: 5px;
}

.description-card {
  height: 53vh;
}

.comments {
  margin-bottom: 40px;
}

.comments-not-signed {
  background-color: rgba(210, 210, 210, 0.5);
  height: 105px;
  margin-top: 13px;
}

/* PROFILE */
.profile, .pin {
  margin-top: 75px;
}

/* FIX CLASSES */
.threeQuarterHeight {
  height: 75vh;
}

.fullHeight {
  height: 100vh;
}

.divider {
  border-right: 1px solid rgba(0, 0, 0, .2);
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 100;
}

.border {
  border: 1px solid black;
}